{{!-- head area --}}
<h1>{{title}}</h1>

<input type="text" name="search" id="search" value="{{search}}" size="50" placeholder="검색어를 입력하세요.">
<button onclick="location.href=`/?search=${document.getElementById('search').value}`">검색</button>
<br />
<a href="/write">글쓰기</a>
<br />

{{!-- list area --}}
<div>
    <table>
        <thead> {{!-- table에서 헤드를 정리할 때 사용 (table head) --}}
            <tr>    
                <th width="50%">제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody> {{!-- table에서 본문을 정리할 때 사용 (table body) --}}
            {{#each posts}}
            <tr>
                <td><a href="/detail/{{_id}}">{{title}}</a></td>
                <td>{{name}}</td>
                <td>{{hits}}</td>
                <td>{{dateString createdDt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- footer container --}}
<div>
    {{#with paginator}}
    <a href="/?page=1&search={{@root.search}}">&lt;&lt;</a>
    {{#if hasPrev}}
    <a href="/?page={{prePage}}&search={{@root.search}}">&lt;</a>
    {{else}}
    <a>&lt;</a>
    {{/if}}
    {{#each pageList}}
    {{#if (eq . @root.paginator.page)}}
    <a>{{.}}</a>
    {{else}}
    <a href="/?page={{.}}&search={{@root.search}}">{{.}}</a>
    {{/if}}
    {{/each}}
    {{#if hasNext}}
    <a href="/?page={{nextPage}}&search={{search}}">&gt;</a>
    {{else}}
    <a>&gt;</a>
    {{/if}}
    <a href="/?page={{lastPage}}&search={{search}}">&gt;&gt;</a>
    {{/with}}
</div>